<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @copyright Copyright (c) 2017 www.tigren.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_progressivewebapp">
        <observer name="update_manifest_json_file_after_change_config" instance="Tigren\ProgressiveWebApp\Observer\UpdateManifest"/>
    </event>
    <event name="adminhtml_cache_flush_all">
        <observer name="update_service_worker_file_after_flush_cache" instance="Tigren\ProgressiveWebApp\Observer\UpdateServiceWorker"/>
    </event>
</config>