<config>
    <global>
		<models>
			<letsknowit_checkout>
				<class>Letsknowit_Checkout_Model</class>          
			</letsknowit_checkout>
		</models>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<postDataTosServer>
						<type>singleton</type>
						<class>Letsknowit_Checkout_Model_Observer</class>
						<method>postDataTosServer</method>
					</postDataTosServer>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>     
	</global>
</config>